/*
水平居中
*/
.w-text-align{
    text-align:center;
}
.w-inline-block{
    display:inline-block;
}
.w-margin-auto{display:block;margin:0 auto;}
.w-relative{position:relative;}
.w-absolute-left-half{position:absolute;left:50%;}
.w-translate-x-half{
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);}

/*
垂直居中
*/
.w-vertical-middle-table-cell{display:table-cell;vertical-align:middle;}
.w-absolute-top-half{position:absolute;top:50%;}
.w-translate-y-half{
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);}

/*
水平居中、垂直居中、n列n行排版
*/
.w-block-horizontal-center{margin:0 auto;display:block;}

/* 自动换行 */
.el-checkbox__label{white-space:pre-wrap;display:inline-block;width:180px;vertical-align:text-top;word-break: break-all;}

