<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>basicLayout</title>
    <link rel="stylesheet" href="./basicLayout.css">
    <style>
        :root{
            --grayColor:#797979
        }
        p {
            font-size: 15px;
            background: var(--grayColor);
            padding: 5px;
            border-radius: 5px;
            color: white;
            line-height: 2;
        }

        h1, h2, h3, h4 {
            color: #797979;
            padding: 5px 0;
        }
        .g-content{background:#FFD200;padding:30px 0;}
    </style>
</head>
<body>
<!-- 水平居中 -->
<div class="g-part">
    <p>一、水平居中</p>
    <div class="g-content">
        <div class="w-text-align">
            <div class="w-inline-block" style="border:1px solid #2196f3;width:400px;">text-align and inline-block</div>
        </div>

        <div style="margin-top:10px;" class="w-relative">
            <div class="w-absolute-center" style="border:1px solid #2196f3;width:400px;">transform and absolute</div>
        </div>

        <div style="margin-top:10px;">
            <div class="w-margin-auto" style="border:1px solid #2196f3;">margin and block【设置margin的元素必须设置自己的宽】</div>
        </div>
    </div>
</div>
<!-- 垂直居中 -->
<div class="g-part">
    <p>二、垂直居中</p>
    <div class="g-content">
        <div class="w-display-table">
            <div class="w-table-cell-middle" style="height:50px;border:1px solid #2196f3;">
                <div style="border:1px solid #2196f3;width:400px;">vertical-middle and table-cell</div>
            </div>
        </div>

        <div class="w-relative" style="height:50px;border:1px solid #2196f3;margin-top:10px;">
            <div class="w-absolute-middle" style="border:1px solid #2196f3;width:200px;">absolute and transform</div>
        </div>
    </div>
</div>
</body>
</html>