<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flex 布局示例</title>
    <link rel="stylesheet" href="flex.css"/>
    <style>
        p {
            font-size: 15px;
            background: #797979;
            padding: 10px;
            border-radius: 5px;
            color: white;
            line-height: 2;
        }

        h1, h2, h3, h4 {
            color: #797979;
            padding: 5px 0;
        }

        .g-flex {
            display: -webkit-flex;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        .g-silder {
            width: 30%;
        }

        .g-select {
            margin-bottom: 20px;
        }

        .s-flex-class {
            color: chocolate;
        }

        .g-main {
            width: 80%;
            background: #e1e1e1;
            padding: 20px;
        }

        .flex {
            border: 2px #c1c1c1 dashed;
        }

        .flex-item {
            width: 120px;
            height: 120px;
            line-height: 80px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            background: #ffd200;
            margin-bottom:5px;
        }
        .flex-item:not(:last-of-type){
            margin-right: 10px;
        }

        /*.flex-item:last-of-type,.flex-item:first-of-type{background:red;}*/
        /* 项目属性 */
        .s-flex-item-used {
            background: #FFD200;
            color: #fff;
            padding: 0 20px;
        }

        .g-flex-prompt {
            position: relative;
            top: -60px;
        }

        .order {
            order: 4;
        }
        .flex-grow1{flex-grow:1;}
        .flex-grow2{flex-grow:2;}
        .flex-shrink0{flex-shrink:0;}
        .flex-basis200{flex-basis:200px;}
        .align-self-center{align-self:center;}
    </style>
</head>
<body>
<h3>一、容器属性</h3>
<div aria-message="flex-direction">
    <h3>1.flex-direction</h3>
    <p>flex-direction属性决定主轴的方向（即项目的排列方向）。</p>
    <div class="g-flex">
        <div class="g-silder">
            <!-- 样式选择 -->
            <div class="g-select">
                <label>属性值选择器：</label>
                <select name="flex-direction" class="j-flex-select">
                    <option value="row">row</option>
                    <option value="row-reverse">row-reverse</option>
                    <option value="column">column</option>
                    <option value="column-reverse">column-reverse</option>
                </select>
            </div>
            <!-- 添加类名 -->
            <div class="g-class">
                <span>需要添加的class有：</span>
                <span class="j-flex-direction s-flex-class">flex flex-direction-row</span>
            </div>
        </div>
        <div class="g-main">
            <!--展示flex效果-->
            <div class="flex flex-direction-row">
                <div class="flex-item">1</div>
                <div class="flex-item">2</div>
                <div class="flex-item">3</div>
                <div class="flex-item">4</div>
                <div class="flex-item">4</div>
                <div class="flex-item">4</div>
                <div class="flex-item">4</div>
                <div class="flex-item">4</div>
                <div class="flex-item">4</div>
                <div class="flex-item">5</div>
                <div class="flex-item">5</div>
                <div class="flex-item">5</div>
                <div class="flex-item">5</div>
                <div class="flex-item">5</div>
            </div>
        </div>
    </div>
</div>
<div aria-message="flex-wrap">
    <h3>2.flex-wrap</h3>
    <p>默认情况下，项目都排在一条线（又称"轴线"）上。flex-wrap属性定义，如果一条轴线排不下，是否换行。</p>
    <div class="g-flex">
        <div class="g-silder">
            <!-- 样式选择 -->
            <div class="g-select">
                <label>属性值选择器：</label>
                <select name="flex-wrap" class="j-flex-select">
                    <option value="nowrap">nowrap</option>
                    <option value="wrap">wrap</option>
                    <option value="wrap-reverse">wrap-reverse</option>
                </select>
            </div>
            <!-- 添加类名 -->
            <div class="g-class">
                <span>需要添加的class有：</span>
                <span class="j-flex-wrap s-flex-class">flex flex-wrap-nowrap</span>
            </div>
        </div>
        <div class="g-main">
            <!--展示flex效果-->
            <div class="flex flex-wrap-nowrap">
                <div class="flex-item">1</div>
                <div class="flex-item">2</div>
                <div class="flex-item">3</div>
                <div class="flex-item">4</div>
                <div class="flex-item">4</div>
                <div class="flex-item">4</div>
                <div class="flex-item">4</div>
                <div class="flex-item">4</div>
                <div class="flex-item">4</div>
                <div class="flex-item">5</div>
                <div class="flex-item">5</div>
                <div class="flex-item">5</div>
                <div class="flex-item">5</div>
                <div class="flex-item">5</div>
            </div>
        </div>
    </div>
</div>
<div aria-message="flex-flow">
    <h3>3.flex-flow</h3>
    <p>flex-flow属性是flex-direction属性和flex-wrap属性的简写形式，默认值为row nowrap。设置容器高度会在flex-direction值为column时flex-wrap为wrap有效</p>
    <div class="g-flex">
        <div class="g-silder">
            <!-- 样式选择 -->
            <div class="g-select">
                <label>属性值选择器：</label>
                <select name="flex-flow" class="j-flex-select">
                    <option value="row-nowrap">row-nowrap</option>
                    <option value="row-wrap">row-wrap</option>
                    <option value="row-wrap-reverse">row-wrap-reverse</option>
                    <option value="row-reverse-nowrap">row-reverse-nowrap</option>
                    <option value="row-reverse-wrap">row-reverse-wrap</option>
                    <option value="row-reverse-wrap-reverse">row-reverse-wrap-reverse</option>
                    <option value="column-nowrap">column-nowrap</option>
                    <option value="column-wrap">column-wrap</option>
                    <option value="column-wrap-reverse">column-wrap-reverse</option>
                    <option value="column-reverse-nowrap">column-reverse-nowrap</option>
                    <option value="column-reverse-wrap">column-reverse-wrap</option>
                    <option value="column-reverse-wrap-reverse">column-reverse-wrap-reverse</option>
                </select>
            </div>
            <!-- 添加类名 -->
            <div class="g-class">
                <span>需要添加的class有：</span>
                <span class="j-flex-flow s-flex-class">flex flex-flow-row-nowrap</span>
            </div>
        </div>
        <div class="g-main">
            <!--展示flex效果-->
            <div class="flex flex-flow-row-nowrap">
                <div class="flex-item">1</div>
                <div class="flex-item">2</div>
                <div class="flex-item">3</div>
                <div class="flex-item">4</div>
                <div class="flex-item">4</div>
                <div class="flex-item">4</div>
                <div class="flex-item">4</div>
                <div class="flex-item">4</div>
                <div class="flex-item">4</div>
                <div class="flex-item">5</div>
                <div class="flex-item">5</div>
                <div class="flex-item">5</div>
                <div class="flex-item">5</div>
                <div class="flex-item">5</div>
            </div>
        </div>
    </div>
</div>
<div aria-message="justify-content">
    <h3>4.justify-content</h3>
    <p>justify-content属性定义了项目在主轴上的对齐方式。</p>
    <div class="g-flex">
        <div class="g-silder">
            <!-- 样式选择 -->
            <div class="g-select">
                <label>属性值选择器：</label>
                <select name="justify-content" class="j-flex-select">
                    <option value="flex-start">flex-start</option>
                    <option value="flex-end">flex-end</option>
                    <option value="center">center</option>
                    <option value="space-between">space-between</option>
                    <option value="space-around">space-around</option>
                </select>
            </div>
            <!-- 添加类名 -->
            <div class="g-class">
                <span>需要添加的class有：</span>
                <span class="j-justify-content s-flex-class">flex flex-direction-row</span>
            </div>
        </div>
        <div class="g-main">
            <!--展示flex效果-->
            <div class="flex justify-content">
                <div class="flex-item">1</div>
                <div class="flex-item">2</div>
                <div class="flex-item">3</div>
                <div class="flex-item">4</div>
            </div>
        </div>
    </div>
</div>
<div aria-message="align-items">
    <h3>5.align-items</h3>
    <p>align-items属性定义项目在交叉轴上如何对齐。align-items值为stretch时，不设置子元素的高度或子元素高度为auto，会将子元素填满整个容器</p>
    <div class="g-flex">
        <div class="g-silder">
            <!-- 样式选择 -->
            <div class="g-select">
                <label>属性值选择器：</label>
                <select name="align-items" class="j-flex-select">
                    <option value="flex-start">flex-start</option>
                    <option value="flex-end">flex-end</option>
                    <option value="center">center</option>
                    <option value="baseline">baseline</option>
                    <option value="stretch">stretch</option>
                </select>
            </div>
            <!-- 添加类名 -->
            <div class="g-class">
                <span>需要添加的class有：</span>
                <span class="j-align-items s-flex-class">flex align-items-flex-start</span>
            </div>
        </div>
        <div class="g-main">
            <!--展示flex效果-->
            <div class="flex align-items-flex-start" style="height:200px;">
                <div class="flex-item" style="margin-bottom:0;">1</div>
                <div class="flex-item" style="margin-bottom:0;">2</div>
                <div class="flex-item" style="line-height:40px;margin-bottom:0;">3</div>
                <div class="flex-item" style="line-height:120px;margin-bottom:0;">4</div>
            </div>
        </div>
    </div>
</div>
<div aria-message="align-content">
    <h3>6.align-content</h3>
    <p>align-content属性定义了多根轴线（多行）的对齐方式。如果项目只有一根轴线，该属性不起作用。align-content值为stretch时，不设置子元素的高度或子元素高度为auto，会将子元素填满整个容器</p>
    <div class="g-flex">
        <div class="g-silder">
            <!-- 样式选择 -->
            <div class="g-select">
                <label>属性值选择器：</label>
                <select name="align-content" class="j-flex-select">
                    <option value="flex-start">flex-start</option>
                    <option value="flex-end">flex-end</option>
                    <option value="center">center</option>
                    <option value="space-between">space-between</option>
                    <option value="space-around">space-around</option>
                    <option value="stretch">stretch</option>
                </select>
            </div>
            <!-- 添加类名 -->
            <div class="g-class">
                <span>需要添加的class有：</span>
                <span class="j-align-content s-flex-class">flex align-content-flex-start</span>
            </div>
        </div>
        <div class="g-main">
            <!--展示flex效果-->
            <div class="flex align-content-flex-start" style="height:400px;">
                <div class="flex-item" style="margin-bottom:0;">1</div>
                <div class="flex-item" style="margin-bottom:0;">2</div>
                <div class="flex-item" style="margin-bottom:0;">3</div>
                <div class="flex-item" style="margin-bottom:0;">4</div>
                <div class="flex-item" style="margin-bottom:0;">4</div>
                <div class="flex-item" style="margin-bottom:0;">4</div>
                <div class="flex-item" style="margin-bottom:0;">4</div>
                <div class="flex-item" style="margin-bottom:0;">4</div>
                <div class="flex-item" style="margin-bottom:0;">4</div>
                <div class="flex-item" style="margin-bottom:0;">5</div>
                <div class="flex-item" style="margin-bottom:0;">5</div>
                <div class="flex-item" style="margin-bottom:0;">5</div>
                <div class="flex-item" style="margin-bottom:0;">5</div>
                <div class="flex-item" style="margin-bottom:0;">5</div>
            </div>
        </div>
    </div>
</div>
<h3>二、项目属性</h3>
<div aria-message="order">
    <h3>1.order</h3>
    <p>order属性定义项目的排列顺序。数值越小，排列越靠前，默认为0。</p>
    <div class="g-flex">
        <div class="g-silder">
            <div>
                <span>使用方法：</span>
                <span class="s-flex-item-used">.item { order: <integer>; }</span>
            </div>
        </div>
        <div class="g-main">
            <!--展示flex效果-->
            <div class="flex">
                <div class="flex-item order">1
                    <div class="g-flex-prompt">(order:4)</div>
                </div>
                <div class="flex-item">2</div>
                <div class="flex-item">3</div>
                <div class="flex-item">4</div>
            </div>
        </div>
    </div>
</div>
<div aria-message="flex-grow">
    <h3>2.flex-grow</h3>
    <p>flex-grow属性定义项目的放大比例，平分剩余空白的比例，默认为0，即如果存在剩余空间，也不放大。</p>
    <p>如果所有项目的flex-grow属性都为1，则它们将等分剩余空间（如果有的话）。如果一个项目的flex-grow属性为2，其他项目都为1，则前者占据的剩余空间将比其他项多一倍。</p>
    <div class="g-flex">
        <div class="g-silder">
            <div>
                <span>使用方法：</span>
                <span class="s-flex-item-used">.item { flex-grow: <number>; /* default 0 */ }</span>
            </div>
        </div>
        <div class="g-main">
            <!--展示flex效果-->
            <div class="flex">
                <div class="flex-item flex-grow1">1<div class="g-flex-prompt">(flex-grow:1)</div></div>
                <div class="flex-item flex-grow2">2<div class="g-flex-prompt">(flex-grow:2)</div></div>
                <div class="flex-item flex-grow1">3<div class="g-flex-prompt">(flex-grow:1)</div></div>
            </div>
        </div>
    </div>
</div>
<div aria-message="flex-shrink">
    <h3>3.flex-shrink</h3>
    <p>flex-shrink属性定义了项目的缩小比例，默认为1，即如果空间不足，该项目将缩小，宽度缩小比例。</p>
    <p>如果所有项目的flex-shrink属性都为1，当空间不足时，都将等比例缩小。如果一个项目的flex-shrink属性为0，其他项目都为1，则空间不足时，前者不缩小。
        负值对该属性无效。</p>
    <div class="g-flex">
        <div class="g-silder">
            <div>
                <span>使用方法：</span>
                <span class="s-flex-item-used">.item { flex-shrink: <number>; /* default 1 */ }</span>
            </div>
        </div>
        <div class="g-main">
            <!--展示flex效果-->
            <div class="flex">
                <div class="flex-item flex-shrink0" style="width:600px;">1<div class="g-flex-prompt">(flex-shrink:0)</div></div>
                <div class="flex-item" style="width:600px;">2</div>
                <div class="flex-item" style="width:600px;">3</div>
            </div>
        </div>
    </div>
</div>
<div aria-message="flex-basis">
    <h3>4.flex-basis</h3>
    <p>flex-basis属性定义了在分配多余空间之前，项目占据的主轴空间（main size）,项目实际的长度。浏览器根据这个属性，计算主轴是否有多余空间。它的默认值为auto，即项目的本来大小。</p>
    <div class="g-flex">
        <div class="g-silder">
            <div>
                <span>使用方法：</span>
                <span class="s-flex-item-used">.item { flex-basis: <length>; | auto; /* default auto */ }</span>
            </div>
        </div>
        <div class="g-main">
            <!--展示flex效果-->
            <div class="flex">
                <div class="flex-item flex-basis200" style="width:400px;">1<div class="g-flex-prompt">(flex-basis:200px)</div></div>
                <div class="flex-item" style="width:400px;">2</div>
                <div class="flex-item" style="width:400px;">3</div>
            </div>
        </div>
    </div>
</div>
<div aria-message="flex">
    <h3>5.flex属性</h3>
    <p>flex属性是flex-grow, flex-shrink 和 flex-basis的简写，默认值为0 1 auto。后两个属性可选。</p>
    <p>该属性有两个快捷值：auto (1 1 auto) 和 none (0 0 auto)。</p>
    <p class="s-flex-item-used">.item { flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] }</p>
</div>
<div aria-message="align-self">
    <h3>6.align-self</h3>
    <p>align-self属性允许单个项目有与其他项目不一样的对齐方式，可覆盖align-items属性。默认值为auto，表示继承父元素的align-items属性，如果没有父元素，则等同于stretch。</p>
    <div class="g-flex">
        <div class="g-silder">
            <div>
                <span>使用方法：</span>
                <span class="s-flex-item-used">.item { align-self: auto | flex-start | flex-end | center | baseline | stretch; }</span>
            </div>
        </div>
        <div class="g-main">
            <!--展示flex效果-->
            <div class="flex" style="height:300px;">
                <div class="flex-item align-self-center" style="width:400px;">1<div class="g-flex-prompt">(align-self:center)</div></div>
                <div class="flex-item" style="width:400px;">2</div>
                <div class="flex-item" style="width:400px;">3</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="flex.js"></script>
</body>
</html>