{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "extends": [],
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "node": true,
    "shared-node-browser": true
  },
  "globals": {
    "__DEV__": false,
    "__TEST__": false,
    "__PROD__": false,
    "__DEBUG__": false,
    "_": false,
    "moment": false,
    "classnames": false
  },
  "rules": {
    "strict": 0,
    "semi": [2,"always"],
    "comma-dangle": [2, "never"],
    "import/extensions": [0]
  }
}
